EmailServicesDemo/obj/
EmailServicesDemo/bin/
EmailServices/obj/
.vs/
EmailServices/bin/
DASIT.EmailServices/bin/
DASIT.EmailServices/obj/
EmailFactoryDemo/bin/
EmailFactoryDemo/obj/
packages/
EmailFactoryNugetDemo/bin/
EmailFactoryNugetDemo/obj/
EmailServicesNugetDemo/bin/
EmailServicesNugetDemo/obj/
EmailServicesContainedDemo/obj/
EmailServicesContainedDemo/bin/
EmailServicesContainedNugetDemo/bin/
EmailServicesContainedNugetDemo/obj/
